@import './mixin.scss';

.category-header-container {
    width: 100%;
    height: 4rem;
    background-color: #fff8a5;
    @include boxCenter();
    .category-header-wrapper {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        .category-header-main {
            width: 20%;
            height: 100%;
            position: relative;
            .category-header-main-item {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                background-color: #dcd79d;

                &.tablet {
                    display: none;
                }

                .category-header-main-item-icon {
                    width: 25%;
                    height: 100%;
                    @include boxCenter();
                    i {
                        color: #000;
                        font-size: 1.4rem;
                        font-weight: 700;
                    }
                }

                .category-header-main-item-name {
                    width: 75%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    span {
                        color: #000;
                        font-size: 1.4rem;
                        font-weight: 700;
                    }
                }
            }

            .category-header-main-content {
                width: 100%;
                position: absolute;
                display: none;
                border: 1px solid rgba(139, 138, 135, 0.301);
                border-top: none;
            }

            &:hover {
                .category-header-main-content {
                    display: block;
                }
            }
        }

        .category-header-list-dependent {
            width: 80%;
            height: 100%;
            display: flex;
            align-items: center;
            .category-header-dependent-item {
                width: 25%;
                height: 100%;
                display: flex;
                align-items: center;
                cursor: pointer;
                .category-header-dependent-item-logo {
                    width: 25%;
                    height: 100%;
                    @include boxCenter();
                    .category-header-dependent-item-logo-img {
                        width: 2.6rem;
                        height: 2.6rem;
                        border-radius: 50%;
                        overflow: hidden;
                        background-color: #fff;
                        @include boxCenter();
                        img {
                            width: 100%;
                        }

                        i {
                            font-size:1.6rem;
                            color: #fdaf41;
                        }
                    }
                }

                .category-header-dependent-item-text {
                    width: 75%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    span {
                        text-align: center;
                        color: #000;
                        font-size: 0.9rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    @include responsive(tablet) {

        .category-header-wrapper{
            width: 90%;
        }
    }

    @include responsive(tablet-min) {
        display: none;
        .category-header-wrapper{
            width: 90%;

            .category-header-main {
                .category-header-main-item {
                    display: none;

                    &.tablet {
                        display: flex;
                        background-color: transparent;

                    }
                }
            }
        }
    }

    @include responsive(phone) {
        display: none;
        
    }

    @include responsive(min-destop) {

        .category-header-wrapper{
            width: 90%;
        }
    } 
}