@import './mixin.scss';

.footer-container {
    width: 100%;
    height: 12rem;
    @include boxCenter();
    background-color: #e3e3e3;
    .footer-wrapper {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .footer-first {
            width: 30%;
            height: 100%;
            @include boxCenter();
            .footer-first-logo {
                 
                @include boxCenter();
                img { 
                    width: 12rem;
                    height: 8rem;
                } 
            }
        }

        .footer-last {
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;;
            justify-content: space-around;
            padding: 2rem 0;

            .footer-last-name-cty {
                width: 100%;
                display: flex;
                align-items: center;
                span {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #f1b605;
                }
            }

            .footer-last-item {
                width: 100%;
                display: flex;
                align-items: center;
                span {
                    color: 000;
                }

                .footer-last-item-title {
                    padding-right: 0.4rem;
                    font-weight: 500;
                }

                
            }
        }
    }

    @include responsive(phone) {
        .footer-wrapper {
            width: 90%;

            .footer-first {
                .footer-first-logo {
                    img {
                        width: 10rem;
                        height: 7rem;
                    }
                }
            }

            .footer-last {
                width: 70%;

                .footer-last-name-cty {
                    span {
                        font-size: 1.8rem;
                    }
                }

                .footer-last-item {
                    span {
                        font-size: 1.2rem;
                    }
                    
                }
            }
        }
        
    }
}