@import './mixin.scss';

.footer-container {
    padding-top: 2rem;
    width: 100%;
    height: 12rem;
    @include boxCenter();
    background-color: #e3e3e3;
    .footer-wrapper {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .footer-first {
            width: 100%;
            height: 50%;
            @include boxCenter();
            .footer-first-logo {
                 
                @include boxCenter();
                img { 
                    width: 5rem;
                    height: 5rem;
                } 
            }
        }

        .footer-last {
            width: 100%;
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .footer-last-item {
                width: 50%;
                height: 100%;
                @include boxCenter();
                span {
                    color: 000;
                }

                .footer-last-item-title {
                    padding-right: 0.4rem;
                }

                .footer-last-item-title {

                }
            }
        }
    }
}