@import './mixin.scss';

.header-container {
    width: 100%;
    position: fixed;
    z-index: 1000;

    .header-wrapper {
        width: 100%;
        height: 5.4rem;
        .header-content-box {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            background-color: #fff688;
            justify-content: space-between;

            .header-content-box-menu {
                margin: 0 4rem;
                width: 4rem;
                height: 4rem;
                @include boxCenter();
                flex-direction: column;
                cursor: pointer;
                display: none;

                .header-content-box-menu-icon {
                    width: 100%;
                    height: 50%;
                    @include boxCenter();
                    i {
                        font-size: 2.2rem;
                        color: #000;
                    }
                }

                .header-content-box-menu-text { 
                    span {
                        font-size: 1.8rem;
                        color: #000;
                    }
                }
            }

            .header-content-box-logo {
                margin: 0 4rem;
                width: 4rem;
                height: 3rem;
                a {
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    @include boxCenter();
                    img {
                        width: 100%;
                    }
                }
            }
    
            .header-content-box-search {
                width: 40%;
                height: 50%;
                @include boxCenter();
                justify-content: space-between;
                background-color: #fff;
                padding: 3px;
                border-radius: 3px;
                .header-content-box-search-input {
                    flex: 1;
                    height:100%;
                    @include boxCenter();
                    input {
                        width: 98%;
                        height: 80%;
                        outline: none;
                        border: none;
                        font-size: 1.2rem;
                    }
                }
    
                .header-content-box-search-icon {
                    width: 4rem;
                    height: 100%;
                    @include boxCenter();
                    border-radius: 3px;
                    background-color: #fff688;
                    cursor: pointer;
    
                    i {
                        font-size: 1.4rem;
                        // color: #34bf00;
                    }
    
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
    
            .header-content-box-user {
                width: 12rem;
                height: 70%;
                display: flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                .header-content-box-user-icon {
                    width: 5rem;
                    height: 100%;
                    @include boxCenter();
                    i {
                        color: #000;
                        font-size: 1.8rem;
                    }
                }
    
                .header-content-box-user-name {
                    width: 7rem;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    cursor: pointer;
                    span {
                        width: 100%;
                        height: 40%;
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        color: #000;
                    }
    
                    .header-content-box-user-text-name {
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        line-height: 1.4rem;
    
                    }
                }
    
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: -50%;
                    width: 100%;
                    height: 50%;
                }
    
                &:hover {
                    .header-content-box-user-hover {
                        display: flex;
                    }    
                }
    
                .header-content-box-user-hover {
                    position: absolute;
                    bottom: -180%;
                    width: 16rem;
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.064);
                    z-index: 100;
                    display: none;
    
                    &::after {
                        content: "";
                        position: absolute;
                        right: 40%;
                        top: -30px;
                        cursor: pointer;
                        border-width: 16px 20px;
                        border-style: solid;
                        border-color: transparent transparent #fff transparent;
                    }
                    
                    .header-content-box-user-hover-item {
                        width: 100%;
                        height: 3rem;
                        display: flex;
                        align-items: center;
                        cursor: pointer;
                        text-decoration: none;
                        padding: 0 1rem;
                        span {
                            color: #000;
                        }
    
                        &:hover {
                            background-color: #efeeee5c;
                        }
                    }
                }
            }
    
            .header-content-box-cart {
                width: 3.6rem;
                height: 3.6rem;
                border-radius: 50%;
                @include boxCenter();
                position: relative;
                margin: 0 4rem;
                border: 2px solid #000;
                cursor: pointer;
                text-decoration: none;
    
                i {
                    font-size: 1.4rem;
                    color: #000;
                    cursor: pointer;
    
                    &:hover {
                        opacity: 0.9;
                    } 
                }
    
                span {
                    position: absolute;
                    font-size: 1rem;
                    top: 0;
                    right: 0.2rem;
                    color: #fff;
                    padding: 0.2rem 0.3rem;
                    background: red;
                    border-radius: 6px;
                }
            }
        }

        
    }

    .header-content-contact-tablet {
        display: none;
    }

    @include responsive(tablet-min) {
        .header-wrapper {
            height: 6rem;
            .header-content-box {
                .header-content-box-menu {
                    display: flex;
                }
                .header-content-box-logo {
                    width: 4rem;
                    height: 3rem;
                }
                .header-content-box-user {
                    display: none;
                }
            }
        }
        .header-content-contact-tablet {
            @include boxCenter();
            width: 100%;
            height: 5rem;
            background-color: #fff8a5;

            .header-contact-item {
                @include boxCenter();
                .header-contact-icon {
                    width: 4rem;
                    display: flex;
                    align-items: center;
                    i {
                        font-size: 1.8rem;
                        color: #009fd1;
                    }
                }

                .header-contact-text {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 1.6rem;
                        color: #ff7200;
                    }
                }
            }
        }
    }

    @include responsive(phone) {
        .header-wrapper {
            height: 8rem;
            .header-content-box {
                .header-content-box-menu {
                    display: flex;
                }
                .header-content-box-logo {
                    width: 5rem;
                    height: 3.2rem;
                }
                .header-content-box-user {
                    display: none;
                }

                .header-content-box-search {
                    width: 50%;
                    background-color: #fff;
                    padding: 1.4px;
                    
                }

                .header-content-box-cart {
                    width: 4rem;
                    height: 4rem; 
                    border: 1.4px solid #000;

                    i {
                        font-size: 1.8rem;
                    }

                }
            }
        }
        .header-content-contact-tablet {
            @include boxCenter();
            width: 100%;
            height: 6rem;
            background-color: #fff8a5;

            .header-contact-item {
                @include boxCenter();
                .header-contact-icon {
                    width: 4rem;
                    display: flex;
                    align-items: center;
                    i {
                        font-size: 2rem;
                        color: #009fd1;
                    }
                }

                .header-contact-text {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: 1.8rem;
                        color: #ff7200;
                    }
                }
            }
        }
    }
   
}