@import './mixin.scss';

.home-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 9.4rem;
    display: flex;
    justify-content: center;

    .home-content-wrapper {
        width: 80%;
        height: 100%;

        @include responsive(tablet) {
            width: 90%;
        }

    }
    @include responsive(tablet-min) {
        padding-top: 11.2rem;
        .home-content-wrapper {
            width: 90%;
        }
    }

    @include responsive(phone) {
        padding-top: 14.2rem;
        .home-content-wrapper {
            width: 96%;
        }
    }

    @include responsive(min-destop) {
        .home-content-wrapper {
            width: 90%;
        }
    }
}