@import './mixin.scss';

.home-container {
    width: 100%;
    min-height: 100vh;
    padding-top: 9.4rem;
    @include boxCenter();

    .home-content-wrapper {
        width: 80%;
        height: 100%;
    }
}