@import './mixin.scss';

.header-content-box-lang {
    width: 10rem;
    height: 4rem;
    display: flex;
    align-items: center;
    position: relative;
    .header-content-box-lang-item {
        width: 100%;
        display: flex;
        cursor: pointer;
        height: 2rem;
        align-items: center;
        padding: 1rem 0.5rem;
        border: 2px solid #fff;
        border-radius: 0.4rem;

        .header-content-box-lang-item-img {
            border-radius: 50%;
            width: 1.6rem;
            height: 1.6rem;
            overflow: hidden;
            @include boxCenter();
            img  {
                width: 200%;
            }
        }

        span {
            margin-left: 0.4rem;
        }
    }

    .header-content-box-lang-list {
        width: 100%;
        position: absolute;
        bottom: -100%;
        display: flex;
        flex-direction: column;
        border-radius: 0.2rem;
        overflow: hidden;
        background-color: #fff;

        .header-content-box-lang-item-list {
            width: 100%;
            display: flex;
            cursor: pointer;
            height: 2rem;
            align-items: center;
            padding: 1rem 0.5rem;
            margin-top: 0.4rem;
            .header-content-box-lang-item-img {
                border-radius: 50%;
                width: 1.6rem;
                height: 1.6rem;
                overflow: hidden;
                @include boxCenter();
                img  {
                    width: 200%;
                }
            }

            span {
                margin-left: 0.4rem;
            }

            &:hover {
                opacity: 0.9;
                background-color: #00a0d136;
            }
        }
    }

    @include responsive(phone) {
        width: 16rem;
        height: 6rem;
        .header-content-box-lang-item {
            height: 4rem;
            padding: 1rem 0.5rem;
            border-radius: 0.6rem;
    
            .header-content-box-lang-item-img {
                width: 2rem;
                height: 2rem;
                
            }
    
            span {
                margin-left: 0.8rem;
                font-size: 1.6rem;
            }
        }
    
        .header-content-box-lang-list {
            width: 100%;
            position: absolute;
            bottom: -130%;
            display: flex;
            flex-direction: column;
            border-radius: 0.4rem;
            overflow: hidden;
            background-color: #fff;
    
            .header-content-box-lang-item-list {
                width: 100%;
                display: flex;
                cursor: pointer;
                height: 4rem;
                align-items: center;
                padding: 1rem 1.5rem;
                margin-top: 0;
                .header-content-box-lang-item-img {
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    overflow: hidden;
                    @include boxCenter();
                    img  {
                        width: 200%;
                    }
                }
    
                span {
                    margin-left: 1.4rem;
                    font-size: 1.6rem;
                }
    
                &:hover {
                    opacity: 0.9;
                    background-color: #00a0d136;
                }
            }
        }
    }
}