@import './mixin.scss';

.list-category-navigate-container {
    width: 100%;
    @include boxCenter();

    .list-category-navigate-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        .list-category-navigate-item {
            width: 100%;
            height: 2.6rem;
            display: flex;
            align-items: center;
            background-color: #e6e6e6;
            text-decoration: none;
            cursor: pointer;
            .list-category-navigate-icon {
                width: 25%;
                height: 100%;
                @include boxCenter();

                .list-category-navigate-icon-img {
                    width: 2rem;
                    height: 2rem;
                    overflow: hidden;
                    border-radius: 50%;
                    @include boxCenter();
                    img {
                        width: 1.6rem;
                        height: 1.6rem;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
            }

            .list-category-navigate-text {
                width: 75%;
                height: 100%;
                display: flex;
                align-items: center;
                span {
                    color: #000;
                }
            }

            &:hover {
                // background-color: #fff8a5;
                opacity: 0.94;
            }
        }
    }

    @include responsive(min-destop) {
        .list-category-navigate-wrapper {
            .list-category-navigate-item {
                height: 2.14rem;

                .list-category-navigate-icon {
                    .list-category-navigate-icon-img {
                        width: 1.6rem;
                        height: 1.6rem;
                    }
                }
            }
        }
    }

    @include responsive(tablet-min) {
        .list-category-navigate-wrapper {
            .list-category-navigate-item {
                height: 5rem;

                .list-category-navigate-text {
                    font-size: 1.3rem;
                }
            }
        }
    }

    @include responsive(phone) {
        .list-category-navigate-wrapper {
            .list-category-navigate-item {
                height: 5rem;

                .list-category-navigate-text {
                    font-size: 1.3rem;
                }
            }
        }
    }
}