@import './mixin.scss';

.product-slider-container {
    width: 100%;
    @include boxCenter();
    .product-slider-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}