* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 0px;
}

body {
	line-height: 1;
    /* background-color: #041149; */
    width: 100vw;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}